<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/style.css">
  </head>
  
  <body>
    <h1>It is a Layout</h1>
    {{{body}}}
  </body>
</body>
</html>